In [2]:
import pandas as pd

In [3]:
ufo=pd.read_csv('http://bit.ly/uforeports')

In [4]:
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [5]:
ufo.columns

Index(['City', 'Colors Reported', 'Shape Reported', 'State', 'Time'], dtype='object')

In [6]:
ufo.rename(columns={'Colors Reported':'Colors_reported','Shape Reported':'Shape'})

                       City Colors_reported      Shape State              Time
0                    Ithaca             NaN   TRIANGLE    NY    6/1/1930 22:00
1               Willingboro             NaN      OTHER    NJ   6/30/1930 20:00
2                   Holyoke             NaN       OVAL    CO   2/15/1931 14:00
3                   Abilene             NaN       DISK    KS    6/1/1931 13:00
4      New York Worlds Fair             NaN      LIGHT    NY   4/18/1933 19:00
5               Valley City             NaN       DISK    ND   9/15/1934 15:30
6               Crater Lake             NaN     CIRCLE    CA    6/15/1935 0:00
7                      Alma             NaN       DISK    MI    7/15/1936 0:00
8                   Eklutna             NaN      CIGAR    AK  10/15/1936 17:00
9                   Hubbard             NaN   CYLINDER    OR    6/15/1937 0:00
10                  Fontana             NaN      LIGHT    CA   8/15/1937 21:00
11                 Waterloo             NaN   FIREBALL    AL    6/1/1939 20:00
12                   Belton             RED     SPHERE    SC   6/30/1939 20:00
13                   Keokuk             NaN       OVAL    IA     7/7/1939 2:00
14                Ludington             NaN       DISK    MI    6/1/1941 13:00
15              Forest Home             NaN     CIRCLE    CA    7/2/1941 11:30
16              Los Angeles             NaN        NaN    CA    2/25/1942 0:00
17                Hapeville             NaN        NaN    GA    6/1/1942 22:30
18                   Oneida             NaN  RECTANGLE    TN    7/15/1942 1:00
19               Bering Sea             RED      OTHER    AK   4/30/1943 23:00
20                 Nebraska             NaN       DISK    NE    6/1/1943 15:00
21                      NaN             NaN        NaN    LA    8/15/1943 0:00
22                      NaN             NaN      LIGHT    LA    8/15/1943 0:00
23                Owensboro             NaN  RECTANGLE    KY  10/15/1943 11:00
24               Wilderness             NaN       DISK    WV    1/1/1944 10:00
25                San Diego             NaN      CIGAR    CA    1/1/1944 12:00
26               Wilderness             NaN       DISK    WV    1/1/1944 12:00
27                   Clovis             NaN       DISK    NM    4/2/1944 11:00
28               Los Alamos             NaN       DISK    NM    6/1/1944 12:00
29             Ft. Duschene             NaN       DISK    UT   6/30/1944 10:00
...                     ...             ...        ...   ...               ...
18211               Holyoke             NaN    DIAMOND    MA  12/28/2000 18:00
18212                Carson             NaN       DISK    CA  12/28/2000 18:20
18213              Pasadena           GREEN   FIREBALL    CA  12/28/2000 19:10
18214                Austin             NaN  FORMATION    TX   12/29/2000 0:00
18215              El Campo             NaN      OTHER    TX   12/29/2000 9:00
18216          Garden Grove          ORANGE      LIGHT    CA  12/29/2000 16:10
18217         Berthoud Pass             NaN   TRIANGLE    CO  12/29/2000 19:30
18218            Sisterdale             NaN    DIAMOND    TX  12/29/2000 20:00
18219          Garden Grove             NaN    CHEVRON    CA  12/29/2000 20:30
18220           Shasta Lake            BLUE       DISK    CA  12/29/2000 20:30
18221              Franklin             NaN       DISK    NH  12/29/2000 20:50
18222        Albrightsville             NaN      OTHER    PA  12/29/2000 21:00
18223            Greenville             NaN        NaN    SC  12/29/2000 22:00
18224               Eufaula             NaN       DISK    OK  12/29/2000 23:30
18225           Simi Valley             NaN  FORMATION    CA  12/30/2000 10:00
18226         San Francisco             NaN  FORMATION    CA  12/30/2000 22:00
18227         San Francisco             NaN   TRIANGLE    CA  12/30/2000 22:00
18228            Kingsville             NaN      LIGHT    TX   12/31/2000 4:00
18229               Chicago             NaN       DISK    IL  12/31/2000 11:45
18230           Pismo Beach             NaN       OVAL    CA  12/31/2000 20:00
18231           Pismo Beach             NaN       OVAL    CA  12/31/2000 20:00
18232                  Lodi             NaN        NaN    WI  12/31/2000 20:30
18233             Anchorage             RED    VARIOUS    AK  12/31/2000 21:00
18234              Capitola             NaN   TRIANGLE    CA  12/31/2000 22:00
18235        Fountain Hills             NaN        NaN    AZ  12/31/2000 23:00
18236            Grant Park             NaN   TRIANGLE    IL  12/31/2000 23:00
18237           Spirit Lake             NaN       DISK    IA  12/31/2000 23:00
18238           Eagle River             NaN        NaN    WI  12/31/2000 23:45
18239           Eagle River             RED      LIGHT    WI  12/31/2000 23:45
18240                  Ybor             NaN       OVAL    FL  12/31/2000 23:59

[18241 rows x 5 columns]

In [7]:
ufo_cols=['city','colors reported','shape reported','state','time']

In [9]:
ufo.columns=ufo_cols

In [10]:
ufo.columns

Index(['city', 'colors reported', 'shape reported', 'state', 'time'], dtype='object')

In [11]:
ufo=pd.read_csv('http://bit.ly/uforeports',names=ufo_cols,header=0)

In [12]:
ufo.head()

                   city colors reported shape reported state             time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [13]:
ufo.columns=ufo.columns.str.replace(' ','_')

In [14]:
ufo.columns

Index(['city', 'colors_reported', 'shape_reported', 'state', 'time'], dtype='object')

In [15]:
type(ufo.columns)

pandas.indexes.base.Index